<h3>Planets</h3>
<ul>
  <li ng-hide='planets'>Loading...</li>
  <li ng-repeat="planet in planets">{{planet.name}} -- {{planet.population}}
    <ul>
      <li ng-repeat="resident in planet.residents">
        <a ui-sref="resident({id: resident.id, page: page})">{{ knownResidents[resident.id].name || 'Resident ' + resident.id}}</a>
      </li>
    </ul>
  </li>
</ul>

<p>More Planets ...</p>
<a ui-sref="planets({page:1})"> 1   </a>
<a ui-sref="planets({page:2})"> 2   </a>
<a ui-sref="planets({page:3})"> 3   </a>
<a ui-sref="planets({page:4})"> 4   </a>
<a ui-sref="planets({page:5})"> 5   </a>
<a ui-sref="planets({page:6})"> 6   </a>
<a ui-sref="planets({page:7})"> 7</a> 

