<div>
  <h4 ng-show='character.name'>  {{character.name}}<h4>
</div>
<loading-icon ng-hide="character.name" loading-message="loading resident"></loading-icon>
<div>
  <ul ng-show='character.name'>
    <li> gender: {{character.gender}} </li>
    <li> birth year: {{character.birth_year}} </li>
  </ul>
  <a ui-sref="planets({page: prevPage})">Back to Planets {{page}}</a>
</div>
<iframe id='residentIframe' src="http://starwars.wikia.com/wiki/Han_Solo" ng-if="startLoadIframe" ng-hide="true"></iframe>
