body {
  background: #414141;
  font-family: 'Arimo', sans-serif;
}

h1 {
  font-size: 50px;
}

@media(max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}

.header {
  min-height: 10em;
  color: #F18072;
  margin-top: 2em;
  margin-bottom: 1em;
}
.title {
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.sub {
  text-align: center;
  margin: auto;
}
#content {
  background-color: #FEFEFE;
  color: #414141;
}
